*{
  padding: 0px;
  margin: 0px;
}
.body{
  width: 90%;
  margin: auto;
}

.intro{
  font-size: 40px;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: rgb(32, 32, 97);
  color: whitesmoke;
}